body{
    font-family: 'Archivo', sans-serif;   
}
a{
    text-decoration: none;
    color:#ffffff;
}
.content{
    margin: 0 auto;
    width: 1000px;
}
.a{
    position:relative;
    top:0px;
    left:20px;
}
.grid-container{
    display: grid;
    grid-template-columns:260px 60px 220px 40px 30px 240px 30px 60px 200px 100px;
    grid-template-rows:470px 70px 10px 30px 140px 0px 0px 0px;
}
.grid1{
    grid-column: 2/4;
    grid-row: 2/3;
    padding-left:20px;
}
.grid2{
    grid-column: 6/7;
    grid-row: 2/3;
}
.grid3{
    grid-column: 9/10;
    grid-row: 2/3;
}
.grid4{
    grid-column:2/4;
    grid-row:3/4;
    font-size:50px;
    padding-left:25px;
    padding-top:20px;
    padding-bottom:20px;
    height:50px;
    background-color:#ffe718;
}
.grid5{
    border:0px solid #ffe718;
    grid-column:5/7;
    grid-row:3/4;
    padding-left:25px;
    padding-top:20px;
    padding-bottom:20px;
    font-size:50px;
    height:50px;
    background-color:#ffe718;
}
.grid6{
    grid-column:8/10;
    grid-row:3/4;
    font-size:50px;
    padding-left:25px;
    padding-top:20px;
    padding-bottom:20px;
    height:50px;
    background-color:#ffe718;
}
#title1{
    display:inline-block;
    position:absolute;
    font-size:18px;
    top:1380px;
    padding-left:20px;
    grid-column:3/4;
    grid-row:3/4;
    font-weight:600;
}
#title2{
    display:inline-block;
    position:absolute;
    padding-bottom:0px;
    top:1380px;
    padding-left:20px;
    font-size:18px;
    grid-column:4/5;
    grid-row:3/4;
    font-weight:600;
}
#title3{
    display:inline-block;
    font-size:18px;
    position:absolute;
    top:1380px;
    padding-left:20px;
    grid-column:4/5;
    grid-row:3/4;
    font-weight:600;
}
#text1{
    display:inline-block;
    padding-left:20px;
    font-size:14px;
    grid-column:2/3;
    grid-row:2/3;
    font-weight:600;
}
#text2{
    display:inline;
    padding-left:20px;
    font-size:14px;
    grid-column:4/5;
    grid-row:2/3;
    font-weight:600;
}
#text3{
    display:inline-block;
    font-size:14px;
    padding-left:20px;
    grid-column:4/5;
    grid-row:2/3;
    font-weight:600;
}
#title-footer{
    display:inline-block;
    padding-top:100px;
    grid-column:2/4;
    grid-row:5/6;
    font-size:22px;
}
#text-footer{
    padding-top:180px;
    padding-right:120px;
    display:inline-block;
    grid-column:2/7;
    grid-row:5/8;
}
.grid5:hover,#title2:hover,#text2:hover{
    color:#ffffff;
    background-color:#222931;
}
.menu>li{
    display:inline-block;
    border:1px solid #222931;
    padding:15px 10px;
   
}
.uitklap-item:hover{
    background-color:#ffe718;
    color:#222931;
}
.uitklap{
    display:none; 
    list-style-type:none;
    padding:0;
    position:absolute;
    top:42px;
    left:0px;
    font-size:16px;
    font-weight:500;
    color:#ffffff;
}
a:hover{
    border:0px solid #ffe718;
    padding-right:100px;
    margin-top:0px;
    margin-bottom:0px; 
    color:#222931;
}
.uitklap-item:hover> .uitklap{
    display:block;
    padding-left:0px;
    padding-top:5px;
    padding-right:50px;
    padding-bottom:5px;
    color:#ffffff;
    background-color:#222931;
    width:100px;
}
.uitklap> li:hover{
    border:1px solid #222931;
    padding-left:0px;
    padding-top:0px;
    padding-right:50px;
    padding-bottom:0px;
    width:100px;
    color:#222931;
    background-color:#ffe718;
}
.uitklap-item{
    position:relative;
}
#header{
    top:75px;
    left:0px;
}
#footer{
    top:1170px;
    left:0px;
}
.b{
    z-index: -1;
    position: absolute;
    width:100%;
}
.c{
    position: relative;
    top:440px;
    left:250px;
    padding-left:20px;
}
nav>ul{
    width:950px;
    background-color:#222931;
    position:relative;
    top:0px;
    left:10px;
}
.menu> li{
    margin-right:10px;
    font-size:12px;
    font-weight:500;
    display:inline-block;
    color:#ffffff;
}
#down{
    position:relative;
    left:3px;
    top:1px;
    bottom:0px;
}
ul{
    padding:0px;
}
.ribbon{
    position:absolute;
    top:930px;
    left:0px;
    padding-top:30px;
    padding-bottom:30px;
    width:100%;
    background-color:#ffe718;
    text-align:center;
}
#ribbon-big{
    font-size:34px;
    font-weight:700;
    display:inline-block;
}
#ribbon-small{
    padding-left:20px;
    font-size:16px;
    font-weight:700;
    display:inline-block;
}
#ribbon-knop{
    display:inline-block;
    background-color:#ffffff;
    margin-left:300px;
    padding:10px 30px;
    font-size:12px;
    font-weight:500;
}
#ribbon-knop:hover{
    background-color:#222931;
    color:#ffffff;
}
#contact{
    grid-column:8/9;
    grid-row:6/8;
    font-size:22px;
    font-weight:500; 
}
.grid7{
    padding-top:70px;
    grid-column:8/9;
    grid-row:6/8;
    font-size:30px;
    color:#5f656d; 
}
.grid8{
    padding-top:130px;
    grid-column:8/9;
    grid-row:6/8;
    font-size:40px;
    color:#5f656d; 
}
.grid9{
    padding-top:200px;
    grid-column:8/9;
    grid-row:6/8;
    font-size:28px;
    color:#5f656d; 
}
#text4{
    display:inline;
    font-size:12px;
    padding-top:60px;
    padding-left:40px;
    padding-right:110px;
    color:#5f656d;
    grid-column:8/10;
    grid-row:6/8; 
}
#text5{
    display:inline;
    padding-top:130px;
    padding-left:40px;
    font-size:12px;
    color:#5f656d; 
    grid-column:8/10;
    grid-row:6/8;
}
#text6{
    display:inline;
    padding-top:200px;
    padding-left:40px;
    font-size:12px;
    color:#5f656d; 
    grid-column:8/10;
    grid-row:6/8;
}
.footer{
    background-color:#222931;
    position:absolute;
    height:50px;
    padding-bottom:10px;
    top:2060px;
    width:100%;
    left:0;
}
#footer-text{
    position:absolute;
    height:30px;
    top:0px;
    left:1100px;
    color:#ffffff;
}
#banner1{
    z-index:-1;
    color: #FFFFFF;
    transition: ease-in-out 1s;
    display: block;
    background-size: cover;
    width: 300px;
    height: 220px;
}
#banner1:hover {
    z-index:-1;
    color: #000000;
    filter: brightness(50%);
}
#textbanner1{
    z-index:-1;
    position:absolute;
    font-size:32px;
    font-weight:600;
    top:650px;
    left:320px;
}     
#textbanner1:hover{
    z-index:+1;
    display:block;
    position:relative;
    color:#ffffff;
}
#banner2:hover{
    z-index:-1;
    filter:brightness(40%); 
    list-style-type:none;
    padding:0;
    position:absolute;
    color: #FFFFFFFF;
}
#banner3:hover{
    display:none; 
    list-style-type:none;
    padding:0;
    position:absolute;
}
.banners{
    width:1000px;
    height:220px;
    display:block;
    position: relative;
    top:400px;
    margin: auto;
}
.banner {
    display:inline-block;
    width: 300px;
    height: 220px;
    margin:0 15px;
    padding: 0;
}
.banner>p{
    position:relative;
    top:0;
    left:0;
    margin:auto;
    font-size:32px;
    font-weight:600;
    color:#ffffff;
}
