body{
    font-family: 'Archivo', sans-serif;   
}
a{
    text-decoration: none;
}
.content{
    margin: 0 auto;
    width: 1000px;
}
.menu>li{
    display:inline-block;
    border:1px solid #222931;
    padding:15px 10px;
   
}
.uitklap-item:hover{
    background-color:#ffe718;
    color:#222931;
}
.uitklap{
    display:none; 
    list-style-type:none;
    padding:0;
    position:absolute;
    top:42px;
    left:0px;
    font-size:16px;
    text-decoration-color:#ffffff;
}
.uitklap-item:hover> .uitklap{
    display:block;
    padding-left:0px;
    padding-top:5px;
    padding-right:100px;
    padding-bottom:5px;
    background-color:#222931;
    width:140px;
}
.uitklap> li:hover{
    border:1px solid #222931;
    padding-left:0px;
    padding-top:5px;
    padding-right:100px;
    padding-bottom:5px;
    text-decoration-color:#222931;
    background-color:#ffe718;
}
.uitklap-item{
    position:relative;
}
.b{
    position: relative;
    top:00px;
    left:0px;

}
nav>ul{
    width:950px;
    background-color:#222931;
}
.menu> li{
    margin-right:10px;
    font-size:12px;
    font-weight:500;
    display:inline-block;
    color:#ffffff;
}
i{
    position:relative;
    left:3px;
    top:1px;
    bottom:0px;
}
ul{
    padding:0px;
}