body{
    font-family: 'Archivo', sans-serif;   
}
a{
    text-decoration: none;
}
.menu>li{
    display:inline-block;
    border:20px solid #222931;
   
}
.uitklap-item:hover{
    background-color:#ffe718;
    color:#222931;
}
.uitklap{
    display:none; 
    list-style-type:none;
    padding:0;
    position:absolute;
    width:70px;
    font-size:16px;
}
.uitklap-item:hover> .uitklap{
    display:block;
    margin: 20px 20px;
    background-color:#222931;
    width:140px;
}
.uitklap> li:hover{
    border:1px solid #222931;
    width:128px;
    background-color:#ffe718;
}
.uitklap-item{
    position:relative;
}
.a{
    text-align:center;
}
.b{
    margin: 0 auto;

}
nav>ul{
    width:950px;
    background-color:#222931;
}
li{
    margin-left:10px;
    font-size:12px;
    font-weight:500;
    display:inline-block;
    color:#ffffff;
}
i{
    position:relative;
    left:3px;
    top:1px;
    bottom:0px;
}