body{
    font-family: 'Archivo', sans-serif;   
}
a{
    text-decoration: none;
    color:#ffffff;
}
.content{
    margin: 0 auto;
    width: 1000px;
}
.menu>li{
    display:inline-block;
    border:1px solid #222931;
    padding:15px 10px;
   
}
.uitklap-item:hover{
    background-color:#ffe718;
    color:#222931;
}
.uitklap{
    display:none; 
    list-style-type:none;
    padding:0;
    position:absolute;
    top:42px;
    left:0px;
    font-size:16px;
    font-weight:500;
    color:#ffffff;
}
a:hover{
    border:0px solid #ffe718;
    padding-right:100px;
    margin-top:0px;
    margin-bottom:0px; 
    color:#222931;
}
.uitklap-item:hover> .uitklap{
    display:block;
    padding-left:0px;
    padding-top:5px;
    padding-right:50px;
    padding-bottom:5px;
    color:#ffffff;
    background-color:#222931;
    width:100px;
}
.uitklap> li:hover{
    border:1px solid #222931;
    padding-left:0px;
    padding-top:0px;
    padding-right:50px;
    padding-bottom:0px;
    width:100px;
    color:#222931;
    background-color:#ffe718;
}
.uitklap-item{
    position:relative;
}
.b{
    z-index: -1;
    position: absolute;
    top:75px;
    left:0px;
    width:100%;
}
.c{
    position: relative;
    top:440px;
    left:250px;
    padding-left:20px;
}
nav>ul{
    width:950px;
    background-color:#222931;
}
.menu> li{
    margin-right:10px;
    font-size:12px;
    font-weight:500;
    display:inline-block;
    color:#ffffff;
}
i{
    position:relative;
    left:3px;
    top:1px;
    bottom:0px;
}
.a{
    margin-left:40px;
}
ul{
    padding:0px;
    margin-left:40px;
}
.ribbon{
    position:absolute;
    top:850px;
    left:0px;
    padding-left:270px;
    padding-top:30px;
    padding-bottom:30px;
    width:100%;
    background-color:#ffe718;
}
#ribbon-big{
    font-size:34px;
    font-weight:700;
    display:inline-block;
}
#ribbon-small{
    padding-left:20px;
    font-size:16px;
    font-weight:700;
    display:inline-block;
}